# Model Configuration
MODEL_ID=gpt2
LOW_THRESHOLD=60
HIGH_THRESHOLD=80
STRIDE=512
MAX_LENGTH=
MINIMUM_TOKENS=32
CHAR_TO_TOKEN_RATIO=0.3

# Server Configuration
HOST=0.0.0.0
PORT=8000
RELOAD=true

# Calibration Data Paths (optional)
HUMAN_TEXT_FILE=calibration_data/HUMAN_TEXT.txt
AI_TEXT_FILE=calibration_data/LLM_TEXT.txt